/*------------------------------------*\
    BUTTONS
\*------------------------------------*/

.button {
    @include inline-block;
    border: 0.2rem solid $yellow;
    border-radius: 2.3rem;
    color: $dark-grey;
    cursor: pointer;
    height: 4.6rem;
    line-height: 4.2rem;
    padding: 0 $spacing-25;
    text-decoration: none;

    &:visited {
        color: $dark-grey;
    }

    &:hover {
        background-color: lighten($yellow, 10%);
        border-color: lighten($yellow, 10%);
    }

    &--filled,
    &--menu {
        @extend .button;
        background-color: $yellow;
    }

    &--menu {
        border-radius: 1.8rem;
        height: 3.6rem;
        line-height: 3.2rem;
        padding: 0 $spacing-20;

        .visible-text {
            text-transform: capitalize;
        }
        
    }

    @include breakpoint(tablet) {
        border-radius: 3.0rem;
        height: 6.0rem;
        line-height: 5.6rem;
        padding: 0 3.0rem;

        &--menu {
            border-radius: 2.3rem;
            height: 4.6rem;
            line-height: 4.2rem;
            padding: 0 $spacing-25;
        }
    }

}