/*------------------------------------*\
    MODULE: ADD COURSE FORM
\*------------------------------------*/

/*------ Labels ------*/

label {
    @include block;
    padding-bottom: $spacing-5;

    & .required {
        font-weight: $font-semibold;
        text-decoration: none;
    }
}

/*------ Form fields ------*/

.form-field {
    margin-bottom: $spacing-20;
}

.submit-field {
    margin-top: $spacing-25;
    margin-bottom: 0;
}

/*------ Fields ------*/

input[type=text],
input[type=date],
input[type=url],
select {
    @include border;
    background-color: $white;
    padding: $spacing-5;
    width: $full-width;

    &.invalid {
        border-color: $red;
        background-color: lighten($red, 56%);
    }
}

/*------ Messages ------*/

.error,
.success {
    color: $white;
    font-weight: $font-regular;
    max-height: 0;
    padding: 0;
    transition: all 0.1s ease-in;
}

.error {
    @include block;
    background-color: $red;
    width: $full-width;

    a {
        color: $white;

        &:hover {
            background-color: transparent;
        }
    }
}

.success {
    @include inline-block;
    background-color: $green;
    margin-top: $spacing-20;
}

.is-active {
    padding: $spacing-5;
    max-height: 100px;

    @include breakpoint(tablet) {
        padding: $spacing-10;
    }
}